+++
title = "Content and Tooling"
linkTitle = "Content and Tooling"
+++

<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
			<h1>Welcome!</h1>
		</span>	</div>
	</div>
</section>

<div id="tools"></div>

<div class="card-deck p-0 center mt-5 mb-5 container-md mx-auto">
	{{< project-card title="PCT" icon="fa-align-left" installUrl="pct/install" docsUrl="pct" >}} 
	Puppet Content Templates (PCT) codify a structure to produce content for any Puppet Product that can be authored by Puppet Product Teams or external users without direct help of the PDK team. 
	{{< /project-card>}}
	{{< project-card title="PRM" icon="fa-boxes" installUrl="prm/install" docsUrl="prm" >}} 
	Puppet runtime manager (PRM) is a program that allows for the management of Puppet versions, along with their respective Ruby versions.
	This is achieved through the use of custom backends (e.g. local or docker) resulting in faster, more efficient functionality when compared to the PDK.
	{{< /project-card>}}
</div>

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fas fa-book-reader" title="All new documentation site!" %}}
This site is the central location for Content and Tooling documentation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="New streamlined tools" %}}
Find out how Puppet Content Templates (PCT) and the Puppet Runtime Manager (PRM) can help you with your Puppet code development and validation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We do a Pull Request contributions workflow on [GitHub](https://github.com/puppetlabs). New users are always welcome!
{{% /blocks/feature %}}
{{< /blocks/section>}}
