footer {
    background-color: $primary;
}

.taxonomy-btn {
    background: $dark;
    border-width: 0;
    border-radius: 3px 3px 3px 3px;
    color: $white;
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
    min-height: 1.5em;
    max-width: 100%;
    padding: 0 0.5em 0 0.5em;
    position: relative;
    margin: 0 0.5em 0.2em 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    
    &:hover {
      background-color: $primary;
      color: $white;
  
      .taxonomy-count{
        color: $dark!important;
      }
    }
    
    &:hover::before {
      background: $primary; 
    }
  }

.hidden {
    display: none;
}

.card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: .5rem;
}

.link-secondary {
    color: $secondary;
}

.link-secondary:hover {
    color: $scondary-dark;
}

.home-heading {
  font-size: 1.8em;
}

.card-animation{
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transition: all .4s;
  transform: scale(1.0);
  -moz-transition: all .4s;
  -webkit-transition:all .4s;
  -o-transition: all .4s;
}

.card-animation:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all .4s;
  transform: scale(1.1);
  -moz-transition: all .4s;
  -webkit-transition:all .4s;
  -o-transition: all .4s;
  max-height: fit-content;
  transition: filter 400ms ease-in-out;  
  overflow: hidden;
  cursor: pointer;
}
