{{ define "main" }}
<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>Supported Modules</h1>

<p>A list of the tools developed and maintained by the Content and Tooling team.</p>
</section>

<div class="container">
	<div class="card-deck p-0 center mt-5 mb-5 container-md mx-auto">
		{{ range .Site.Data.tools }}
			{{ partial "tool_card.html" . }}
		{{ end }}
	</div>
</div>
{{ end }}
